@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="light"] {
  --background-color: #fafafa;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


:root[data-theme="dark"] {
    --background-color: #2b3e51;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
  background: var(--background-color);
}