@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: #F3F6FD;
  --secondary-light: #FBFAFF;
  --primary-dark: #2b3e51;
  --secondary-dark: #3b4957;
  --white: #fafafa;
  --black: #000000;
  --blue-light: #CAD5FF;
}

:root[data-theme="light"] {
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}


:root[data-theme="dark"] {
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
    /* --background-color: #2b3e51;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
}
